<h1> Export file Excel in angular 7</h1>
<div class="content">
  <div class="export">
    <img class="center" src="assets/image/excel.png" (click) ="exportExcel()"/>
  </div>
  <div class="tableData">
    <table>
      <tr>
        <td class="boild">Country</td>
        <td class="boild">Hydro</td>
        <td class="boild">Oil</td>
        <td class="boild">Gas</td>
        <td class="boild">Coal</td>
        <td class="boild">Nuclear</td>

      </tr>
      <tbody>
        <tr  *ngFor ="let country of countriesInfo">
         <td>
           {{country.country}}
         </td>
         <td>
          {{country.hydro}}
        </td>
        <td>
          {{country.oil}}
        </td>
        <td>
          {{country.gas}}
        </td>
        <td>
          {{country.coal}}
        </td>
        <td>
          {{country.nuclear}}
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
